
.react-grid {
    display: grid;

    .hidden {
        display: none;
    }

    .squashed {
        width: 0;
        margin: 0;
        padding: 0;
    }

    .inline-text {
        word-wrap: normal;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .no-width-col {
        min-width: 0;
        max-width: 0;
    }

    .auto-width-col {
        width: auto;
    }

    .column {
        font-weight: bold;
    }
}