.react-grid {
  display: grid;
}
.react-grid .hidden {
  display: none;
}
.react-grid .squashed {
  width: 0;
  margin: 0;
  padding: 0;
}
.react-grid .inline-text {
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.react-grid .no-width-col {
  min-width: 0;
  max-width: 0;
}
.react-grid .auto-width-col {
  width: auto;
}
.react-grid .column {
  font-weight: bold;
}
