
body {
    .hide-it {
        display: none;
    }
    .auto-drop-complete {
        font-family: Monaco, Tahoma;
        font-size: 12pt;
        position: relative;
        input {
            display: block;
            border-radius: 5px;
            height: 25px;
            width: 130px;
        }
        div {
            position: absolute;
            top: 32px;
            left: 2px;
            background-color: white;
            border-radius: 5px;
            border: 1px solid black;
            margin: 0;
            padding: 0;
            z-index: 5;
            ol {
                margin: 0;
                padding: 0;
                min-width: 134px;
                li {
                    cursor: pointer;
                    color: black;
                    list-style-position: inside;
                    list-style: none;
                    text-align: left;
                    &.highlighted {
                        background-color: black;
                        color: white;
                    }

                    &.ignore {
                        cursor: default;
                    }
                }
            }
        }
    }
}