.app-container {
  min-width: 800px;
  min-height: 600px;
  display: grid;
}
.app-container .top-area {
  grid-column: 1 / 8;
  grid-row: 1;
  text-align: center;
}
.app-container .left-area {
  grid-column: 1;
  grid-row: 2 / 7;
}
.app-container .left-area .active {
  color: blue;
  font-weight: bold;
}
.app-container .main-area {
  grid-column: 2 / 8;
  grid-row: 2 / 7;
}
.app-container .bottom-area {
  grid-column: 1 / 8;
  grid-row: 7;
  text-align: center;
}
