.app-container {
    min-width: 800px;
    min-height: 600px;
    display: grid;

    .top-area {
        grid-column: ~"1 / 8";
        grid-row: 1;
        text-align: center;
    }

    .left-area {
        grid-column: 1;
        grid-row: ~"2 / 7";

        .active {
            color: blue;
            font-weight: bold;
        }
    }

    .main-area {
        grid-column: ~"2 / 8";
        grid-row: ~"2 / 7";
    }

    .bottom-area {
        grid-column: ~"1 / 8";
        grid-row: 7;
        text-align: center;
        
    }
}